<div class="mt-4">
    <h3>Edit Course</h3>
    <form action="/courses/{{course._id}}?_method=PUT" method="POST">
        <div class="form-group mb-3">
            <label for="name" class="fw-semibold mb-1">Course Name</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name" required>
        </div>
        <div class="form-group mb-3">
            <label for="videoId" class="fw-semibold mb-1">YouTube Video ID</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId" required>
        </div>
        <div class="form-group mb-3">
            <label for="desc" class="fw-semibold mb-1">Description</label>
            <textarea class="form-control" id="desc" name="desc" rows="3" required>{{course.desc}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>
</div>